##### GENERAL #####

# .zshrc
alias zshc="vim $HOME/.zshrc"
alias zshr="source $HOME/.zshrc"

# tmux
alias tmu="tmux new-session -swiden -nshell"
alias tkill="tmux kill-server"

##### UPDATE SYSTEM #####

# flatpak
alias pkgfl="flatpak update -y && flatpak uninstall --unused --noninteractive"

# Lazyvim
alias pkgnv="nvim --headless \"+Lazy! sync\" +qa"

##### .NET #####

# Global tools:
# - csharpier
# - dotnet-outdated
# - report generator
alias pkgdn="dotnet tool update -g csharpier && dotnet tool update -g dotnet-outdated-tool && dotnet tool update -g dotnet-reportgenerator-globaltool"

alias dot="dotnet clean && dotnet build"
alias dcs="dotnet csharpier"
