#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon=/home/cristian/repos/dotfiles/appimages/qFlipper.png
Icon[en_US]=/home/cristian/repos/dotfiles/appimages/qFlipper.png
Name[en_US]=QFlipper
Exec=/home/cristian/.local/bin/QFlipper.AppImage
Comment[en_US]=Flipper device management
Name=QFlipper
Comment=Flipper device management
Categories=Education
