#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Categories=Game
Name[en_US]=Slippi
Exec=/home/cristian/.local/bin/Slippi.AppImage
Icon=/home/cristian/repos/dotfiles/appimages/slippi.png
Icon[en_US]=/home/cristian/repos/dotfiles/appimages/slippi.png
Comment[en_US]=Super Smash Bros Melee
Name=Slippi
Comment=Super Smash Bros Melee
